CargoFlashCargoWebApps/Service References/ValidateAndInsertMessage/WebServiceEDIMSGValidateAndReturnDS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateMSGAndReturnDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MsgTxt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MsgRecFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MsgRecAddress" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="PreviousSNo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateMSGAndReturnDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateMSGAndReturnDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateMSGAndReturnDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateMSGAndReturnDataSet" />
  </wsdl:message>
  <wsdl:message name="ValidateMSGAndReturnDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateMSGAndReturnDataSetResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceEDIMSGValidateAndReturnDSSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateMSGAndReturnDataSet">
      <wsdl:input message="tns:ValidateMSGAndReturnDataSetSoapIn" />
      <wsdl:output message="tns:ValidateMSGAndReturnDataSetSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceEDIMSGValidateAndReturnDSSoap" type="tns:WebServiceEDIMSGValidateAndReturnDSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateMSGAndReturnDataSet">
      <soap:operation soapAction="http://tempuri.org/ValidateMSGAndReturnDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceEDIMSGValidateAndReturnDSSoap12" type="tns:WebServiceEDIMSGValidateAndReturnDSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateMSGAndReturnDataSet">
      <soap12:operation soapAction="http://tempuri.org/ValidateMSGAndReturnDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceEDIMSGValidateAndReturnDS">
    <wsdl:port name="WebServiceEDIMSGValidateAndReturnDSSoap" binding="tns:WebServiceEDIMSGValidateAndReturnDSSoap">
      <soap:address location="http://gares.bookmycargo.net/edi/PresentationLayer/Admin/Account/Public/WebServiceEDIMSGValidateAndReturnDS.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceEDIMSGValidateAndReturnDSSoap12" binding="tns:WebServiceEDIMSGValidateAndReturnDSSoap12">
      <soap12:address location="http://gares.bookmycargo.net/edi/PresentationLayer/Admin/Account/Public/WebServiceEDIMSGValidateAndReturnDS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>